.login-top {
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-font-color);
  padding: 10px;
  margin-bottom: 80px;
}

.login-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 300px;
  background-color: white;
  border: var(--border);
}

.login-form__box {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 60%;
}

.login-form__box input {
  width: 90%;
  height: 20%;
  margin-bottom: 5px;
  background-color: var(--main-bg-color);
  border: var(--border);
}

#login-form__box--btn {
  margin-top: 15px;
  color: var(--main-font-color);
  background-color: var(--main-color);
  border: none;
}

#login-form__box--btn:hover {
  background-color: #13b57c;
}

.login-form__text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
}

#won_green {
  color: var(--main-color);
  margin: 0 5px;
}
