.main-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-top {
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main-font-color);
  padding: 10px;
  margin-bottom: 20px;
}

.main-top__btn {
  display: flex;
  justify-content: space-between;
}

.main-top__btn button {
  background-color: var(--main-font-color);
  color: var(--main-color);
  margin: 0 2px;
  border: none;
  border-radius: 4px;
  font-size: 8px;
  padding: 2px;
}

.main-box {
  width: 500px;
  height: 300px;
}

.main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-menu__month {
  margin-bottom: 15px;
}

.main-menu__month span {
  color: var(--main-color);
}

.main-menu__month span:nth-child(2) {
  margin: 0 10px;
  color: var(--main-data-color);
}

.main-menu__bar--list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 20px;
  background-color: var(--main-color);
  border-radius: 14px;
  font-size: 10px;
  margin-bottom: 15px;
}

.main-menu__bar--list div {
  width: 33%;
  text-align: center;
  padding: 2px;
  border-radius: 10px;
  color: var(--main-font-color);
}

.main-menu__bar--list div:first-child {
  background-color: var(--main-font-color);
  color: var(--main-color);
}

.list-search {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.list-search_01,
.list-search_02,
.list-search_03,
.list-search_04 {
  margin-bottom: 7px;
}

.list-search_01 {
  display: flex;
  justify-content: space-between;
}

.list-search_04 button {
  width: 100%;
  height: 30px;
  background-color: var(--main-color);
  color: var(--main-font-color);
  border: none;
}

.list-kinds {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
}
.list-kinds span:first-child {
  color: #fd4216;
}
