.main-menu__bar--calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 20px;
  background-color: var(--main-color);
  border-radius: 14px;
  font-size: 10px;
  margin-bottom: 15px;
}

.main-menu__bar--calendar div {
  width: 33%;
  text-align: center;
  padding: 2px;
  border-radius: 10px;
  color: var(--main-font-color);
}

.main-menu__bar--calendar div:nth-child(2) {
  background-color: var(--main-font-color);
  color: var(--main-color);
}

.calendar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.days {
  display: flex;
  width: 80%;
  justify-content: space-around;
  align-items: center;
}

.dates {
  display: flex;
  flex-flow: row wrap;
  height: 300px;
  border-top: var(--gray-border);
  border-right: var(--gray-border);
}

.date {
  width: calc(100% / 7);
  text-align: right;
  border-bottom: var(--gray-border);
  border-left: var(--gray-border);
}
